@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode (default) */
body {
    background-color: hsl(0, 0%, 98%); /* Very Light Gray */
    color: hsl(200, 15%, 8%); /* Very Dark Blue (Light Mode Text) */
  }
  
  /* Dark mode */
  body.dark-mode {
    background-color: hsl(207, 26%, 17%); /* Very Dark Blue (Dark Mode Background) */
    color: hsl(0, 0%, 100%); /* White (Dark Mode Text) */
  }